* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header,
section h2,
section h3,
form button {
  font-family: "Lemon", cursive;
  font-weight: normal;
}

header {
  padding: 16px 0;
  background-color: #ffc929;
  color: #f7185b;
}

header nav li {
  display: inline;
  margin-left: 16px;
  font-size: 18px;
}

header nav li a {
  color: #f7185b;
  text-decoration: none;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

header .container,
section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* End header */

body {
  background-color: #252525;
  color: #ffc929;
  font-family: "Montserrat", sans-serif;
}

.container .cartoon-grilo {
  width: 640px;
}

section .container {
  align-items: flex-start;
}

.album li {
  display: inline;
  margin-right: 8px;
}

.album img {
  width: 80px;
}

section {
  padding: 24px 0;
}

section h2 {
  margin-bottom: 30px;
}

section p {
  margin-bottom: 12px;
}

section .cartoon-grilo {
  margin-right: 32px;
}

/* CONTACT */

.social-links img {
  height: 26px;
}

#contact .container {
  display: block;
}

.social-links li {
  display: inline;
  margin-right: 8px;
}

.social-links li a {
  text-decoration: none;
}

.contact-method {
  display: flex;
  justify-content: space-between;
}

form input,
form textarea,
form button {
  display: block;
  width: 320px;
  margin-bottom: 8px;
  padding: 8px;
}

form input,
form textarea {
  font-family: "Montserrat", sans-serif;
}

form textarea {
  resize: none;
  height: 180px;
}

section h3 {
  margin-bottom: 16px;
}

form button {
  height: 38px;
  background-color: #f7185b;
  color: #000000;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #f35987;
}

input:focus,
textarea:focus {
  outline-color: #f7185b;
}

footer {
  background-color: #ffc929;
  color: #000000;
  padding: 16px 0;
}
